<%= form_for(@rollback) do |f| %>
  <% if @rollback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rollback.errors.count, "error") %> prohibited this rollback from being saved:</h2>

      <ul>
      <% @rollback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
